

<div class="container">
  <br>
  <h1 style="color:gold"><b> <u><h1>Our Facilities</h1></u></b></h1>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card-1 h-100 ">
        <div class="card-body ">
            <i class="fa-solid fa-compass-drafting p-3  "  ></i>
          <h5 class="card-title">Work with The on The Market</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-1 h-100">
        
        <div class="card-body">
          <i class="fa-solid fa-helmet-safety p-3"></i>
          <h5 class="card-title">Planning and Design</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-1 h-100">
        
        <div class="card-body">
          <i class="fa-solid fa-plug-circle-bolt p-3"></i>
          <h5 class="card-title">Joining Reconstruction</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
 
  <div class="container">
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6"><a><img src="../../../assets/facility1.jpg" id="img1"></a>
            <h3> Our site campus</h3>
          </div>
          <div class="col-md-6 ms-auto"><a><img src="../../../assets/facility2.jpg" id="img1">
            </a>
            <h3> Site facilities</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 ms-auto p-2" ><a><img src="../../../assets/facility 3.jpg" id="img1">
            </a>
            <h3> Facilites on site</h3>
          </div>
          <div class="col-md-3 ms-auto"><a><img src="../../../assets/facility4.jpg" id="img1">
            </a>
            <h3> On how to overcome the work...</h3>
          </div>
        </div>



      </div>
    </div>
  </div>