<div class="container-fluid">
    <h1 style="color:gold "><b><u>HOUSE RENOVATION</u></b></h1><br>
    <div class="row">
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/house/hom1.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/house/hom2.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/house/hom3.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row pb-3">
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/house/hom4.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/house/hom5.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/house/hom6.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
    </div>
    <div class="continer mx-2">
        <h3><b>We give best services</b></h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti placeat accusantium vero nobis tenetur maiores debitis adipisci sit. Et magnam fuga expedita, commodi, ut vel autem, nostrum perferendis quibusdam fugiat reprehenderit? Tempore quidem odio unde libero. Est maiores <br>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque dignissimos ipsam amet doloribus quis nobis eos, sit commodi nulla praesentium ex soluta necessitatibus voluptates quos voluptatum. Facere quo similique molestias quaerat sequi eveniet delectus modi, nulla praesentium consequatur accusamus. Facilis libero repellendus obcaecati excepturi, culpa a blanditiis vero adipisci consequuntur officia ut cupiditate. Corrupti veritatis doloribus quibusdam quisquam enim culpa ex eos fuga, quam quis facilis voluptas adipisci, incidunt nesciunt laboriosam dolorem explicabo? <br>
           Sapiente cupiditate placeat quo facilis! Provident, aspernatur.
            laboriosam dicta, iure quisquam saepe voluptates doloremque nobis! Aspernatur saepe molestias esse?</p>
    </div>

</div>
       