<div class="container-fluid">
    <h1 style="color:gold "><b><u>RECONSTRUCTION</u></b></h1><br>
    <div class="row">
        <div class="col-6">
            <img src="../../../assets/recon1.jpg">
        </div>
        <div class="col-6">
            <img src="../../../assets/recon2.jpg">
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col">
            <h3>CONSTRUCTION</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi culpa iusto quos dolorem eos?
                Dicta nihil aliquid quia sequi possimus facere optio, quisquam amet quae at dolor expedita! Eligendi
                neque,
                explicabo suscipit, eos accusantium voluptatem omnis ipsa placeat qui debitis,
                exercitationem praesentium molestias nemo nihil beatae! Minus architecto ipsum tempore?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi culpa iusto quos dolorem eos?
                Dicta nihil aliquid quia sequi possimus facere optio, quisquam amet quae at dolor expedita! Eligendi
                neque,
                explicabo suscipit, eos accusantium voluptatem omnis ipsa placeat qui debitis,
                exercitationem praesentium molestias nemo nihil beatae! Minus architecto ipsum tempore?</p>
        </div>

    </div>
    <div class="row ">
        <div class="col-6 "><video width="500" height="300" controls>
                <source
                    src="https://media.istockphoto.com/videos/young-carpenter-construction-worker-using-a-pneumatic-nail-gun-to-put-video-id1284086364"
                    type="video/mp4">
            </video>
        </div>
        <div class="col-6 justify-content-end"><video width="500" height="300" controls>
            <source
                src="https://media.istockphoto.com/videos/new-subdivision-of-tiny-homes-some-finished-and-two-under-video-id1297707271"
                type="video/mp4">
        </video>
    </div>
    </div>
    <br>
</div>