
<h1 style="color:gold "><b><u>INDUSTRY</u></b></h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/industry/ind1.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/industry/ind2.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/industry/ind3.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row pb-3">
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/industry/ind4.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/industry/ind5.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="fullwrap">
                <img src="../../../assets/industry/ind6.jpg">
                <div class="fullcap">
                    This will cover the entire image!
                </div>
            </div>
        </div>
    </div>
</div>