<div class="container-fluid ">
  <br>
  <h1 style="color:gold"><b>About Us</b></h1>
  <b><u>ABOUT OUR COMPANY</u></b>
  <br>
  <h5>
    <i>
      Industry is older than modern humans. Over time, the methods used have varied considerably.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed non libero consectetur, blandit mauris eget, imperdiet nisl. Etiam commodo ex nec erat tempor varius. Nunc
      rutrum pretium nunc in malesuada. Curabitur mollis urna ac sapien vulputate, ut congue sapien vehicula. Cum sociis
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et suscipit dui. Maecenas velit
      quam, mollis id erat eget, scelerisque elementum odio. Maecenas ac sagittis erat. Quisque hendrerit dapibus diam,
      a venenatis dui efficitur nec.
      Aenean tincidunt ullamcorper fermentum.</i>
  </h5>
  <br>
  <br>
  <h3><b><u>OUR TEAM</u></b></h3>
  <div class=" container ">
    <div class="icard  " style="background-color:rgba(175, 134, 20, 0.315) ;">
      <div class="card-group ">
        <div class="card ">
          <img class="ci" src="../../../assets/img/ceo" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color:gold">C E O</h5>
            <hr>
            <p class="card-text">Edverd Jonsen</p>

          </div>
        </div>
        <div class="card">
          <img src="../../../assets/img/manager" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color:gold">Construction Manager</h5>
            <hr>
            <p class="card-text">Remo Bolat</p>

          </div>
        </div>
        <div class="card">
          <img src="../../../assets/img/assistent" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color:gold"> Contrution Asistanat</h5>
            <hr>
            <p class="card-text">Jon Smith</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>