
<u>
    <h1 style="color:gold "><b><u>EDUCATION </u></b></h1>
</u>
<div class="row">
    <div class="col-3 mx-5">

        <img src="../../../assets/education/edu1.jpg">
    </div>
    <div class="col-3 mx-5">

        <img src="../../../assets/education/edu2.jpg">
    </div>
    <div class="col-3 mx-5">

        <img src="../../../assets/education/edu3.jpg">
    </div>
    
</div>
<br>

<nav class="bg-warning p-3 d-flex justify-content-center">
    <h3> EDUCATION </h3>
</nav>
<div class="container-fluid">
    <h5>Why We Love To Educate?</h5>
      <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue justo scelerisque mattis iaculis. Maecenas vestibulum faucibus enim scelerisque egestas. Praesent facilisis, tortor vel vehicula imperdiet, felis massa ultrices metus, sed consectetur massa ex vitae sem. Integer eu sodales augue. Donec at malesuada nisl. Pellentesque eros lorem, aliquet id hendrerit id, hendrerit ac odio. In dui mauris, auctor vel vestibulum vitae, tincidunt id mi.
        
        massa ex vitae sem. Integer eu sodales augue. Donec at malesuada nisl. Pellentesque eros lorem, aliquet id hendrerit id.
        
        Nullam placerat ante ac est consequat, sed laoreet enim porta.
        Morbi gravida dolor quis orci pharetra, eu vestibulum nibh rutrum.
        Sed aliquet erat sed lacus molestie, id ullamcorper neque rhoncus.
        Nullam tempor elit quis dui lacinia, aliquam rutrum nulla congue.
        Pellentesque a dui eget urna rhoncus convallis at at libero.
        Curabitur semper tortor ac augue iaculis mattis.
        Praesent laoreet ex vitae laoreet vehicula.
        Donec a nulla facilisis ipsum accumsan sagittis et id mi.
    <p>

    
</div>